torch>=1.13.0
torchvision>=0.14.0
torchaudio>=0.13.0
pytorchvideo @ git+https://github.com/omegalabsinc/pytorchvideo.git@23bf970686ed278bcf991807d18fe1d3c9a1646d
timm==0.6.7
ftfy
regex
einops
fvcore
eva-decord==0.6.1
iopath
numpy>=1.19
matplotlib
types-regex
cartopy
